h1 {

text-align: center;
color: blueviolet;


}

.jumboton {




}
.container {
	background-color: #fff;
	opacity: 0.8;
    padding: 10px;
    background-image:url(giphy\assets\images\snacks.jpg)

}

.btn {
   
    margin: 3px;
    background-color: #999999;
    border-color: #fff;
}

.gifDiv{
   
    float: left;
    margin: 4px;
}